html, body {
   height: 100%;
}

body {
   margin: 0;
   padding: 0;
   width: 100%;
   display: table;
   font-weight: 100;
   font-family: 'Lato';
}

.container {
   text-align: center;
   display: table-cell;
   vertical-align: middle;
}

.content {
   text-align: center;
   display: inline-block;
}

.title {
   font-size: 96px;
}

h5 {
   font-family: monaco;
}

ul {
    display: inline;
    margin: 0;
    padding: 0;
}

ul li {
   list-style: none;
   display: inline;
   margin-right: 15px;
   color: black;
}

a {
   font-size: 30px;
   color: black;
   text-decoration:none;
}

a:visited, a:link, a:hover, a:focus, a:active {
   text-decoration:none;
}
